@import "/node_modules/flag-icons/css/flag-icons.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "helvetica";
    src: url("./assets/fonts/helvetica-neue/HelveticaNeue-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "helvetica";
    src: url("./assets/fonts/helvetica-neue/HelveticaNeue-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "helvetica";
    src: url("./assets/fonts/helvetica-neue/HelveticaNeue-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "helvetica";
    src: url("./assets/fonts/helvetica-neue/HelveticaNeue-Black.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "helvetica";
    src: url("./assets/fonts/helvetica-neue/HelveticaNeue-Thin.otf") format("opentype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "helvetica";
    src: url("./assets/fonts/helvetica-neue/HelveticaNeue-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "helvetica";
    src: url("./assets/fonts/helvetica-neue/HelveticaNeue-UltraLight.otf") format("opentype");
    font-weight: 200;
    font-style: normal;
}


html,
body {
    @apply overflow-hidden font-helvetica;
}

body {
    @apply bg-primary text-white;
}

p {
    @apply font-normal;
}

.item-social{
    @apply duration-300 bg-[#454A5F]/20 hover:scale-[1.4] hover:bg-white text-white hover:text-[#131823] text-[0.6rem] h-6 w-6 rounded-full flex items-center justify-center cursor-pointer;
}

.details div:last-child .detail__value,
.details div:nth-last-child(2) .detail__value{
    @apply bg-gradient-to-r from-[#FFBF43] to-[#FF4869] bg-clip-text text-transparent;
}

.field{
    @apply w-full mb-4 relative;
}

[data-append]:after{
    content: attr(data-append);
    @apply absolute right-3 top-3 h-full w-8 flex items-center justify-center text-[#454A5F] text-[0.8rem];
}
.field label {
    @apply font-light block pb-1 text-sm;
}
  .field input, 
  .field textarea {
    @apply w-full focus:border-purple focus:text-purple outline-none bg-[#454A5F]/20 border border-[#454A5F] rounded-lg px-4 py-2 text-white text-[0.8rem] font-normal;
  }

.fi-sp {
    background-image: url(/node_modules/.pnpm/flag-icons@6.7.0/node_modules/flag-icons/flags/4x3/es.svg);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}